$inuit-tab-pages-namespace    : $inuit-namespace !default;
$inuit-tab-pages-border-color : $gray6 !default;

.#{$inuit-tab-pages-namespace}tab-page,
%#{$inuit-tab-pages-namespace}tab-page {
}

:host {
  //border: 1px solid $inuit-tab-pages-border-color;
  border-top-width: 0;
}
