$inuit-tab-set-namespace                : $inuit-namespace !default;
$inuit-tab-title-border-color--selected : $gray6 !default;

.#{$inuit-tab-set-namespace}tabs-container,
%#{$inuit-tab-set-namespace}tabs-container {
  display: flex;
  flext-direction: 'row';
  font: inherit;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -1px;
  border-bottom: 1px solid $inuit-tab-title-border-color--selected;

}
