$inuit-tab-namespace                    : $inuit-namespace !default;

$inuit-tab-title-background             : $gray3 !default;
$inuit-tab-title-background--selected   : $white !default;
$inuit-tab-title-color                  : $black !default;
$inuit-tab-title-color--selected        : $select-blue-default !default;
$inuit-tab-title-border-color--selected : $gray6 !default;
$inuit-tab-title-color-bare             : $gray8 !default;

:host {
  @extend %flex;
}

.#{$inuit-tab-namespace}tab-title,
%#{$inuit-tab-namespace}tab-title {
  line-height: 1.3;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
  margin: 1px 5px 0 0;
  border: 1px solid #d3d3d3;
  border-bottom-width: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: $inuit-tab-title-background;
  color: $inuit-tab-title-color;
  cursor: pointer;
}

div.#{$inuit-tab-namespace}tab-title--selected,
%#{$inuit-tab-namespace}tab-title--selected {
  background-color: $inuit-tab-title-background--selected;
  color: $inuit-tab-title-color--selected;
  border: 1px solid $inuit-tab-title-border-color--selected;
  margin-bottom: -1px;
  padding-bottom: 1px;
  border-bottom-width: 0;
  cursor: pointer;
}

.#{$inuit-tab-namespace}tab-title-bare,
%#{$inuit-tab-namespace}tab-title-bare {
  line-height: 1.3;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 0.3em;
  margin-right: 30px;
  color: $inuit-tab-title-color-bare;
  cursor: pointer;

   &:hover{
      color: $inuit-tab-title-color--selected;
      border-bottom: 1px solid transparent;
      cursor: pointer;
    }

    &--selected, 
    &--selected:hover {
      color: $inuit-tab-title-color--selected;
      border-bottom: 1px solid $inuit-tab-title-color--selected;
      cursor: pointer;
    }

  
}


